@import url('https://fonts.googleapis.com/css?family=Chonburi|Gudea|Aldrich|Amiri|Bubblegum+Sans|Inter|Noto+Sans|Noto+Sans+SC|Noto+Sans+HK|Noto+Sans+KR|Poppins:300,900');

.image-k2anb {
    height: 566px;
    position: relative;
}

.span-msk95 {
    font-family: 'Poppins', sans-serif;
    margin-left: 12px;
    position: relative;
}

.body-v83r6 {
    font-family: 'Aldrich', sans-serif;
    font-weight: 900;
}

.div-n6ie3 {
    position: relative;
}